<div class="modal" ng-controller="KisBpmChoiceSetsPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
			    <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h3>
			</div>
			<div class="modal-body form-horizontal">
				<div class="showbox" ng-if="status.showbox==0">
					<button type="button" ng-click="changebox(1)" class="changebut btn btn-default">{{'PROPERTY.CUSTOM.JSONCODE' | translate}}</button>
					<ul class="nav nav-tabs">
					  <li ng-click="upindex(i)" ng-class="'nav-item'+(i==typeindex?' active':'')" ng-repeat="(i,v) in typelist">
					    <a class="nav-link">{{v}}</a>
					  </li>
					</ul>
					<div ng-if="typeindex==0">
						<!-- <div class="row row-no-gutter">
		            		<div class="form-check form-check-inline form-group">
	            				<label class="col-sm-2 control-label text-right">{{'PROPERTY.CUSTOM.ISOVERTIME' | translate}}</label>
	            				<div class="col-sm-10">
	            					<div class="radio-inline">
				            			<input type="radio" id="customovertimeyes" class="form-check-input" ng-model="fsets.tableAuth.overtime" value="{{1}}" />
				            			<label class="form-check-label" for="customovertimeyes" >{{'PROPERTY.CUSTOM.IS_YES' | translate}}</label>
				            		</div>
				            		<div class="radio-inline">
				            			<input type="radio" id="customovertimeno" class="form-check-input" ng-model="fsets.tableAuth.overtime" value="{{0}}" />
				            			<label class="form-check-label" for="customovertimeno" >{{'PROPERTY.CUSTOM.IS_NO' | translate}}</label>
				            		</div>
			            		</div>
		            		</div>
		            	</div> -->
		            	<div class="row row-no-gutter"  ng-repeat="(i,v) in fsets.noticeAction  track by $index">
		            		<div class="form-check-inline clearfix">
		            			<label class="col-sm-2 form-check-label text-right" for="notictype[i]" >{{'PROPERTY.CUSTOM.NOTICTYPE' | translate}}</label>
		            			<div class="col-sm-2">
		            				<select class="form-control" id="{{'notictype'+i}}" ng-model="fsets.noticeAction[i]['type']">
		            					<option value="">{{'PROPERTY.CUSTOM.PLEASESEL' | translate}}</option>
		            					<option value="{{vv.value}}" ng-selected="fsets.noticeAction[i]['type']==vv.value" ng-repeat="(ii,vv) in typeOptions track by $index">{{vv.label}}</option>
		            				</select>
		            			</div>
	            			</div>
		            		<div class="form-check-inline">
	            				<label class="col-sm-2 control-label text-right">{{'PROPERTY.CUSTOM.SERIALCODE' | translate}}</label>
	            				<div class="col-sm-10">
	            					<div class="radio-inline">
				            			<input type="radio" id="customstopnodeyes" class="form-check-input" ng-model="fsets.noticeAction[i]['serialCode']" value="{{1}}" />
				            			<label class="form-check-label" for="customstopnodeyes" >{{'PROPERTY.CUSTOM.IS_YES' | translate}}</label>
			            			</div>
			            			<div class="radio-inline">
				            			<input type="radio" id="customstopnodeno" class="form-check-input" ng-model="fsets.noticeAction[i]['serialCode']" value="{{0}}" />
				            			<label class="form-check-label" for="customstopnodeno" >{{'PROPERTY.CUSTOM.IS_NO' | translate}}</label>
				            		</div>
			            		</div>
		            		</div>
		            		<div class="form-check-inline">
		            			<label class="col-sm-2 form-check-label text-right" for="jumptime[i]" >{{'PROPERTY.CUSTOM.JUMPTIME' | translate}}</label>
		            			<div class="col-sm-6">
		            				<input type="text" id="jumptime[i]" class="form-control" ng-model="fsets.noticeAction[i]['time']" value="{{1}}" />
		            			</div>
		            			<div class="col-sm-4">
		            				<select class="form-control" id="{{'timeUnit'+i}}" ng-model="fsets.noticeAction[i]['timeUnit']">
		            					<option value="D" ng-selected="fsets.noticeAction[i]['timeUnit']=='D'">{{'PROPERTY.CUSTOM.D' | translate}}</option>
		            					<option value="H" ng-selected="fsets.noticeAction[i]['timeUnit']=='H'">{{'PROPERTY.CUSTOM.H' | translate}}</option>
		            					<option value="M" ng-selected="fsets.noticeAction[i]['timeUnit']=='M'">{{'PROPERTY.CUSTOM.M' | translate}}</option>
		            				</select>
		            			</div>
	            			</div>
	            			<div class="form-check-inline clearfix" ng-repeat="(ii,vv) in fsets.noticeAction[i]['notices']  track by $index">
		            			<label class="col-sm-2 form-check-label text-right" for="notices[i]" >{{'PROPERTY.CUSTOM.NOTICES' | translate}}</label>
	            				<label class="col-sm-2 form-check-label text-right" for="notices[i][ii]" >{{'PROPERTY.CUSTOM.NOTICESTYPE' | translate}}</label>
		            			<div class="col-sm-2">
		            				<select class="form-control" id="{{'notices'+i+ii}}" ng-model="fsets.noticeAction[i]['notices'][ii]['noticeApplication']">
		            					<option value="">{{'PROPERTY.CUSTOM.PLEASESEL' | translate}}</option>
		            					<option value="{{vvv.value}}" ng-selected="fsets.noticeAction[i]['notices'][ii]['noticeApplication']==vvv.value" ng-repeat="(iii,vvv) in applicationOptions track by $index">{{vvv.label}}</option>
		            				</select>
		            			</div>
	            				<label class="col-sm-2 form-check-label text-right" for="notices[i][ii]" >{{'PROPERTY.CUSTOM.NOTICETYPE' | translate}}</label>
		            			<div class="col-sm-2">
		            				<div class="input-group">
			            				<select class="form-control" id="{{'notices'+i+ii}}" ng-model="fsets.noticeAction[i]['notices'][ii]['noticeType']">
			            					<option value="1" ng-selected="fsets.noticeAction[i]['notices'][ii]['noticeType']=='1'">{{'PROPERTY.CUSTOM.NOTICEMSG' | translate}}</option>
			            					<option value="2" ng-selected="fsets.noticeAction[i]['notices'][ii]['noticeType']=='2'">{{'PROPERTY.CUSTOM.NOTICEEMAIL' | translate}}</option>
			            					<option value="3" ng-selected="fsets.noticeAction[i]['notices'][ii]['noticeType']=='3'">{{'PROPERTY.CUSTOM.NOTICEWECHAT' | translate}}</option>
			            				</select>
			            				<div class="input-group-addon col-but" ng-if="ii===0" ng-click="addbox(fsets.noticeAction[i]['notices'],fsetscopy.noticeAction[i]['notices'])">+</div>
		            					<div class="input-group-addon col-but" ng-if="ii!==0" ng-click="delbox(fsets.noticeAction[i]['notices'],ii)">-</div>
			            			</div>
		            			</div>
	            			</div>
	            			<div class="col-sm-12 text-center">
			            		<button type="button" class="btn btn-default" ng-if="i===0" ng-click="addbox(fsets.noticeAction,fsetscopy.noticeAction)">增加</button>
			            		<button type="button" class="btn btn-default" ng-if="i!==0" ng-click="delbox(fsets.noticeAction,i)">删除</button>
	            			</div>
		            	</div>
					</div>
					<div ng-if="typeindex==1">
						<div class="row row-no-gutter">
		            		<div class="form-check form-check-inline form-group"  ng-repeat="(i,v) in fsets.message.sendUsers  track by $index">
	            				<label class="col-sm-2 control-label text-right" for="{{'sendusers'+i}}">
		            				<span ng-if="i===0">{{'PROPERTY.CUSTOM.SENDUSERS' | translate}}</span>
		            			</label>
	            				<div class="col-sm-3">
	            					<div class="input-group">
		            					<input type="text" class="form-control" id="{{'sendusers'+i}}" ng-focus="selUser(i)" ng-model="fsets.message.sendUsers[i]['WebuserName']" placeholder="{{'PROPERTY.CUSTOM.SENDUSERS' | translate}}">
		            				</div>
	            				</div>
	            				<label class="col-sm-2 control-label text-right" for="{{'noticeapplication'+i}}">
		            				<span ng-if="i===0">{{'PROPERTY.CUSTOM.NOTICEAPPLICATION' | translate}}</span>
		            			</label>
	            				<div class="col-sm-5">
	            					<div class="input-group">
	            						<select class="form-control" id="{{'noticeapplication'+i}}" ng-model="fsets.message.sendUsers[i]['noticeIndex']" ng-change="upNotice(fsets.message.sendUsers[i])">
	            							<option value="">{{'PROPERTY.CUSTOM.NOTICEAPPLICATION' | translate}}</option>
	            							<option value="{{val.id+'_'+val.noticeApplication+'_'+val.noticeType+'_'+val.noticeChanel}}" ng-selected="(val.id+'_'+val.noticeApplication+'_'+val.noticeType+'_'+val.noticeChanel)==fsets.message.sendUsers[i]['noticeIndex']" ng-repeat="(in,val) in noticeapplication  track by $index">
		            							{{val.title}}
		            						</option>
	            						</select>
		            					<div class="input-group-addon col-but" ng-if="i===0" ng-click="addbox(fsets.message.sendUsers,fsetscopy.message.sendUsers)">+</div>
		            					<div class="input-group-addon col-but" ng-if="i!==0" ng-click="delbox(fsets.message.sendUsers,i)">-</div>
	            					</div>
	            				</div>
	            				<!-- <div class="col-sm-2">
	            					<div class="input-group">
		            					<input type="text" class="form-control" ng-model="fsets.message.sendUsers[i]['noticeChanel']" placeholder="{{'PROPERTY.CUSTOM.NOTICEAPPLICATION' | translate}}">
		            				</div>
	            				</div> -->
		            		</div>
	            		</div>
					</div>
					<div ng-if="typeindex==2">
						<div class="row row-no-gutter">
		            		<div class="form-check form-check-inline form-group"  ng-repeat="(i,v) in fsets.tableAuth.parentAuth  track by $index">
	            				<label class="col-sm-2 control-label text-right" for="{{'parentauth'+i}}">
		            				<span ng-if="i===0">{{'PROPERTY.CUSTOM.PARENTAUTH' | translate}}</span>
		            			</label>
	            				<div class="col-sm-10">
	            					<div class="input-group">
		            					<input type="text" class="form-control" id="{{'parentauth'+i}}" ng-model="fsets.tableAuth.parentAuth[i]" placeholder="{{'PROPERTY.CUSTOM.PARENTAUTH' | translate}}">
		            					<div class="input-group-addon col-but" ng-if="i===0" ng-click="addbox(fsets.tableAuth.parentAuth,fsetscopy.tableAuth.parentAuth)">+</div>
		            					<div class="input-group-addon col-but" ng-if="i!==0" ng-click="delbox(fsets.tableAuth.parentAuth,i)">-</div>
		            				</div>
	            				</div>
		            		</div>
		            		<div class="form-check form-check-inline form-group"  ng-repeat="(i,v) in fsets.tableAuth.fieldAuth  track by $index">
	            				<label class="col-sm-2 control-label text-right" for="{{'fieldauth'+i}}">
	            					<span ng-if="i===0">{{'PROPERTY.CUSTOM.FIELDAUTH' | translate}}</span>
		            			</label>
	            				<div class="col-sm-10">
	            					<div class="input-group">
		            					<input type="text" class="form-control" id="{{'fieldauth'+i}}" ng-model="fsets.tableAuth.fieldAuth[i]" placeholder="{{'PROPERTY.CUSTOM.FIELDAUTH' | translate}}">
		            					<div class="input-group-addon col-but" ng-if="i===0" ng-click="addbox(fsets.tableAuth.fieldAuth,fsetscopy.tableAuth.fieldAuth)">+</div>
		            					<div class="input-group-addon col-but" ng-if="i!==0" ng-click="delbox(fsets.tableAuth.fieldAuth,i)">-</div>
		            				</div>
	            				</div>
		            		</div>
		            		<div class="form-check form-check-inline form-group"  ng-repeat="(i,v) in fsets.tableAuth.showAuth  track by $index">
	            				<label class="col-sm-2 control-label text-right" for="{{'showauth'+i}}">
	            					<span ng-if="i===0">{{'PROPERTY.CUSTOM.SHOWAUTH' | translate}}</span>
	            				</label>
	            				<div class="col-sm-10">
	            					<div class="input-group">
		            					<input type="text" class="form-control" id="{{'showauth'+i}}" ng-model="fsets.tableAuth.showAuth[i]" placeholder="{{'PROPERTY.CUSTOM.SHOWAUTH' | translate}}">
		            					<div class="input-group-addon col-but" ng-if="i===0" ng-click="addbox(fsets.tableAuth.showAuth,fsetscopy.tableAuth.showAuth)">+</div>
		            					<div class="input-group-addon col-but" ng-if="i!==0" ng-click="delbox(fsets.tableAuth.showAuth,i)">-</div>
		            				</div>
	            				</div>
		            		</div>
		            		<div class="form-check form-check-inline form-group" ng-repeat="(i,v) in fsets.backNode  track by $index">
	            				<label class="col-sm-2 control-label text-right" for="{{'backnode'+i}}">
		            				<span ng-if="i===0">{{'PROPERTY.CUSTOM.ISBACKNODE' | translate}}</span>
		            			</label>
	            				<div class="col-sm-10">
	            					<div class="input-group">
		            					<input type="text" class="form-control" id="{{'backnode'+i}}" ng-model="fsets.backNode[i]" placeholder="{{'PROPERTY.CUSTOM.ISBACKNODE' | translate}}">
		            					<div class="input-group-addon col-but" ng-if="i===0" ng-click="addbox(fsets.backNode,fsetscopy.backNode)">+</div>
		            					<div class="input-group-addon col-but" ng-if="i!==0" ng-click="delbox(fsets.backNode,i)">-</div>
		            				</div>
			            		</div>
		            		</div>
		            		<div class="form-check form-check-inline form-group">
	            				<label class="col-sm-2 control-label text-right">{{'PROPERTY.CUSTOM.ISSTOPNODE' | translate}}</label>
	            				<div class="col-sm-10">
	            					<div class="radio-inline">
				            			<input type="radio" id="customstopnodeyes" class="form-check-input" ng-model="fsets.stopNode" value="{{1}}" />
				            			<label class="form-check-label" for="customstopnodeyes" >{{'PROPERTY.CUSTOM.IS_YES' | translate}}</label>
			            			</div>
			            			<div class="radio-inline">
				            			<input type="radio" id="customstopnodeno" class="form-check-input" ng-model="fsets.stopNode" value="{{0}}" />
				            			<label class="form-check-label" for="customstopnodeno" >{{'PROPERTY.CUSTOM.IS_NO' | translate}}</label>
				            		</div>
			            		</div>
		            		</div>
		            		<div class="form-check form-check-inline form-group">
	            				<label class="col-sm-2 control-label text-right">{{'PROPERTY.CUSTOM.ISDEALER' | translate}}</label>
	            				<div class="col-sm-10">
	            					<div class="radio-inline">
				            			<input type="radio" id="customisdealeryes" class="form-check-input" ng-model="fsets.isDealer" value="{{1}}" />
				            			<label class="form-check-label" for="customisdealeryes" >{{'PROPERTY.CUSTOM.IS_YES' | translate}}</label>
				            		</div>
				            		<div class="radio-inline">
				            			<input type="radio" id="customtranslateno" class="form-check-input" ng-model="fsets.isDealer" value="{{0}}" />
				            			<label class="form-check-label" for="customtranslateno" >{{'PROPERTY.CUSTOM.IS_NO' | translate}}</label>
				            		</div>
			            		</div>
		            		</div>
		            		<div class="form-check form-check-inline form-group">
	            				<label class="col-sm-2 control-label text-right">{{'PROPERTY.CUSTOM.ISPARALLELNODE' | translate}}</label>
	            				<div class="col-sm-10">
	            					<div class="radio-inline">
				            			<input type="radio" id="customisdealeryes" class="form-check-input" ng-model="fsets.isParallelNode" value="{{1}}" />
				            			<label class="form-check-label" for="customisdealeryes" >{{'PROPERTY.CUSTOM.IS_YES' | translate}}</label>
				            		</div>
				            		<div class="radio-inline">
				            			<input type="radio" id="customtranslateno" class="form-check-input" ng-model="fsets.isParallelNode" value="{{0}}" />
				            			<label class="form-check-label" for="customtranslateno" >{{'PROPERTY.CUSTOM.IS_NO' | translate}}</label>
				            		</div>
			            		</div>
		            		</div>
		            	</div>
					</div>
					<div class="seluserbox" ng-if="SelUserBox">
						<ul class="nav nav-tabs">
						  <li ng-click="seluserindex(i)" ng-class="'nav-item'+(i==SelUsertype?' active':'')" ng-repeat="(i,v) in usertypelist">
						    <a class="nav-link">{{v}}</a>
						  </li>
						</ul>
						<div id="jstree"></div>
						<div><button ng-click="closeuserbox()" class="btn btn-primary ng-scope" translate="">确定</button></div>
					</div>
				</div>
				<div class="jsonbox" ng-if="status.showbox==1">
					<button type="button" ng-click="changebox(0)" class="changebut btn btn-default">{{'PROPERTY.CUSTOM.SHOWTREE' | translate}}</button>
					<textarea class="form-control" ng-model="jsonval" style="width:90%; height:100%; max-width: 100%; max-height: 100%; min-height: 100px"/>
				</div>
			</div>
			<div class="modal-footer">
			    <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
			    <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
			</div>
		</div>
	</div>
</div>
